<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCRest:war exploded">
    <output-path>$PROJECT_DIR$/target/SpringMVCRest-1.0-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCRest" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp.jstl:jstl-api:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:jsp-api:2.1" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:javax.servlet.jsp-api:2.3.1" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.5.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.5.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.5.2" />
          <element id="library" level="project" name="Maven: org.codehaus.jackson:jackson-mapper-asl:1.9.3" />
          <element id="library" level="project" name="Maven: org.codehaus.jackson:jackson-core-asl:1.9.3" />
          <element id="library" level="project" name="Maven: taglibs:standard:1.1.2" />
          <element id="library" level="project" name="Spring-4.1.6.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.1.6.RELEASE" />
          <element id="library" level="project" name="Spring Security-3.2.5" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringMVCRest/web/Web" />
      <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.5.2" />
      <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.5.2" />
      <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.5.2" />
      <element id="library" level="project" name="Maven: javax.servlet.jsp.jstl:jstl-api:1.2" />
      <element id="library" level="project" name="Maven: javax.servlet.jsp:javax.servlet.jsp-api:2.3.1" />
      <element id="library" level="project" name="Maven: javax.servlet.jsp:jsp-api:2.1" />
      <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
      <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
      <element id="library" level="project" name="Maven: org.codehaus.jackson:jackson-core-asl:1.9.3" />
      <element id="library" level="project" name="Maven: org.codehaus.jackson:jackson-mapper-asl:1.9.3" />
      <element id="library" level="project" name="Maven: taglibs:standard:1.1.2" />
      <element id="library" level="project" name="Spring MVC-4.1.6.RELEASE" />
      <element id="library" level="project" name="Spring Security-3.2.5" />
      <element id="library" level="project" name="Spring-4.1.6.RELEASE" />
    </root>
  </artifact>
</component>